<html>
<h1>Welcome to my Python-Mysql platform!</h1>
<h2>How to run the SQL files</h2>
<p>From container (from /app): python main.py</p>
<p>From terminal: docker exec -ti mysql_flask_app python main.py</p>
<p>To run a specific SQL: docker exec -ti mysql_flask_app python main.py &lt;SQL&gt;</p>
<p>To run SQLs from a directory: docker exec -ti mysql_flask_app python main.py &lt;dir path to SQLs&gt;</p>
<p>** Note: SQLs default path is /tmp
    if running SQL/s from a different location in container, it must be specified.
</p>

<h2>Navigate according the options below</h2>
<ul>
    <li>
        To get failed SQLs: http://localhost:5000/failed
    </li>
    <li>
        To get success SQLs: http://localhost:5000/success
    </li>
    <li>
        To get the LOG record for a specific SQL run_id: http://localhost:5000/run_id?id=&lt;run_id&gt;
    </li>
    <li>
        To update a status of an SQL to SUCCESS: http://localhost:5000/update-to-success?id=&lt;run_id&gt;
    </li>
    <li>
        To drop all tables, LOG table included: http://localhost:5000/drop_tables
    </li>
</ul>
</html>